<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Console</title>
</head>
<body><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Console</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <h1>Test</h1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../">ItemManager</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../">Home</a></li>
                    <li><a href="../ItemList">ItemList</a></li>
                    <li class="active"><a href="#">Console</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Guide</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div>
        <textarea readonly=true style="width: 98%; height: 25em; line-height: 1.538em;" id="consoleResult"></textarea>
        <div class="input-group" style="width: 98%;">
            <input type="text" class="form-control" aria-label="..." id="consoleInput" onkeypress="if(event.keyCode==13) ajax()">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" id="consoleButton"  onclick="ajax()">Enter</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">

    function ajax() {

        var Data = document.getElementById("consoleInput").value;
        document.getElementById("consoleResult").value += ">"+Data+"\n";
        document.getElementById("consoleInput").value = "";
        document.getElementById("consoleButton").setAttribute("disabled","true");
        var xmlHttpReg = null;
        if (window.ActiveXObject) {//如果是IE

            xmlHttpReg = new ActiveXObject("Microsoft.XMLHTTP");

        } else if (window.XMLHttpRequest) {

            xmlHttpReg = new XMLHttpRequest();
        }

        if (xmlHttpReg != null) {
            xmlHttpReg.open("POST", "../ConsoleMethod", true);
            xmlHttpReg.send(Data);
            xmlHttpReg.onreadystatechange = doResult;
        }

        function doResult() {
            if (xmlHttpReg.readyState == 4) {//4代表执行完成
                document.getElementById("consoleButton").removeAttribute("disabled");
                if (xmlHttpReg.status == 200) {//200代表执行成功
                    document.getElementById("consoleResult").value += xmlHttpReg.responseText +"\n";
                }
                else
                {
                    document.getElementById("consoleResult").value += "Error, Code:" + xmlHttpReg.status +"\n";
                }
            }

        }
    }
</script>
</body>
</html>

</body>
</html>